#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50rem;

    #title {

        h1 {
            font-weight: bold;
        }
    }

    #main-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h2 {
            font-weight: 600;
        }

        ul {
            li {
                list-style: disc;
            }
        }
    }
}