<section id="recipe-container">
    <div class="progress-container">
        <!-- <mat-spinner class="progress-spinner" [diameter]="50" *ngIf="loadRecipes"></mat-spinner> -->
    </div>
    <div id="recipe-card" *ngIf="oneRecipe">
        <div id="recipe-info-container">
            <img [src]=" oneRecipe.recipe.image" [alt]="oneRecipe.recipe.label">
            <div class="recipe-info">
                <h2>{{oneRecipe.recipe.label}}</h2>
                <div id="info-details">
                    <mat-icon class="card-icons">access_time</mat-icon>
                    <p>{{oneRecipe.recipe.totalTime}}</p><span>|</span>
                    <mat-icon class="card-icons">people</mat-icon>
                    <p>{{oneRecipe.recipe.yield}}p</p>
                    <span>|</span>
                    <mat-icon class="card-icons">favorite_border</mat-icon>
                </div>
                <label for="save-to-list">Save to:</label>
                <form action="post">
                    <select name="lists" id="save-to-list">
                        <option value="0">List 1</option>
                        <option value="0">List 2</option>
                    </select>
                    <button type="submit"><mat-icon id="send">send</mat-icon></button>
                </form>
                <a id="share" href="{{oneRecipe.recipe.shareAs}}">More info..</a>
            </div>
        </div>
        <div class="filter-container">
            <div class="filters">
                <h3>Meal type:</h3>
                <div class="filter-div">

                    <p>{{oneRecipe.recipe.mealType}}</p>
                </div>
                <h3>Dish type:</h3>
                <div class="filter-div">

                    <p>{{oneRecipe.recipe.dishType}}</p>
                </div>
                <h3>Diet:</h3>
                <div class="filter-div">

                    <p>{{oneRecipe.recipe.dietLabels}}</p>
                </div>
                <h3>Allergens</h3>
                <div class="filter-div">

                    <!-- <p>{{oneRecipe.recipe.healthLabels}} <span>|</span></p> -->

                    <p *ngFor="let healthlabel of oneRecipe.recipe.healthLabels">{{healthlabel}} <span>
                            | </span></p>
                </div>
                <h3>Cuisine type:</h3>
                <div class="filter-div">

                    <p>{{oneRecipe.recipe.cuisineType}}</p>
                </div>
            </div>
            <div id="recipe-details">
                <h3>Ingredients:</h3>
                <ul *ngFor="let ingredient of oneRecipe.recipe.ingredientLines">
                    <li>{{ingredient}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- *ngFor="let ingredient of oneRecipe.recipe.ingredientLine" -->