#recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;


    #recipe-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70rem;


        #recipe-info-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 2rem;

            img {
                margin: 1rem;
                border-radius: 1rem;
            }

            .recipe-info {
                display: flex;
                flex-direction: column;

                margin: 1rem;

                h2 {
                    font-size: 2rem;
                    margin: 0;
                }

                #info-details {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .card-icons {}

                    p {
                        margin: 0;
                        padding: 0rem 0.2rem 0rem 0.2rem;
                    }

                    span {
                        padding: 0rem 0.2rem 0rem 0.2rem;
                    }
                }

                label {
                    margin: 0.1rem;
                }

                form {
                    display: flex;
                    align-items: center;
                    flex-direction: row;


                    select {
                        min-width: 8rem;

                        option {}
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0.2rem;
                        width: 1.3rem;
                        height: 1.3rem;
                        padding: 0.3rem;
                        background-color: rgb(17, 207, 17);
                        border: none;
                        border-radius: 50%;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(18, 230, 18);
                        }

                        &:active {
                            background-color: rgb(61, 240, 61);
                        }

                        #send {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 0.9rem;
                        }

                    }
                }

                #share {
                    color: black;

                    &:hover {
                        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.348);
                    }


                }
            }
        }

        .filter-container {
            display: flex;
            flex-direction: row;
            width: 90vw;
            justify-content: space-around;
            margin-bottom: 5rem;

            .filters {
                display: flex;
                flex-direction: column;
                width: 30rem;

                h3 {
                    margin: 0rem;
                    text-decoration: underline;
                    font-weight: bold;
                }

                .filter-div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    p {
                        margin: 0rem;
                        width: 8rem;
                        margin-right: 0rem;
                    }
                }
            }

            #recipe-details {
                h3 {
                    margin: 0rem;
                    text-decoration: underline;
                    font-weight: bold;
                }

                ul {
                    li {}
                }

                a {}

            }
        }
    }
}