@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #search-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50rem;
        height: 20rem;
        margin: 4rem;
        box-shadow: 0px 2px 4px rgb(193, 192, 192);
        border-radius: 1rem;

        #search-label {
            font-size: 2rem;
            height: 3rem;
            text-align: center;
        }

        #search-box {
            border: none;
            box-shadow: 0px 2px 4px rgb(193, 192, 192);
            border-radius: 1rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }

        #filter-header {
            margin: 0.5rem;
            text-decoration: underline;
        }

        p {
            margin: 0.4rem;
            text-decoration: underline;
        }

        .meal-type {
            display: flex;
            align-items: center;
            flex-direction: row;


            .filter {
                margin: 0.1rem;

                .filter-checkbox {
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;

                    &:checked+span {
                        background-color: rgb(14, 234, 14);

                        &:hover {
                            background-color: rgb(13, 212, 13);
                        }

                        &:active {
                            background-color: rgb(10, 149, 10);
                        }
                    }
                }

                span {
                    text-align: center;
                    padding: 0.1rem 0.6rem;
                    border-radius: 0.2rem;
                    border: none;
                    display: block;
                    font-size: 0.7rem;
                    background: transparent;
                    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.143);
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(13, 212, 13);
                    }

                    &:active {
                        background-color: rgb(10, 149, 10);
                        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.361);
                    }
                }
            }

        }

        button {
            border: none;
            border-radius: 1rem;
            margin: 1rem;
            padding: 0.3rem 1rem 0.3rem 1rem;
            color: rgb(0, 0, 0);
            font-size: 1rem;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.361);
            background-color: rgb(13, 212, 13);
            cursor: pointer;

            &:hover {
                background-color: rgb(7, 172, 7);

            }

            &:active {
                background-color: rgb(10, 149, 10);
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.361);
            }
        }

    }

    .progress-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .progress-spinner {
            margin: 1rem;
        }
    }

    .recipe-show {
        display: flex;
        align-items: center;
        flex-direction: column;

        h3 {
            margin: 0;
        }

        h2 {
            margin: 1rem;
            margin-top: 0rem;
        }

        #categories {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            p {
                margin: 0.2rem;
                border: 1px solid black;
                padding: 0 0.6rem 0 0.6rem;
                border-radius: 0.3rem;
            }

            span {
                margin: 0.2rem;
            }
        }

        .recipe-cards {
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            width: 60rem;
            padding: 0.5rem;
            margin: 1rem;
            margin-bottom: 4rem;
            box-shadow: 0px 2px 4px rgb(193, 192, 192);
            border-radius: 1rem;
        }
    }

}