#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-image: linear-gradient(100deg, rgb(130, 47, 197), rgb(81, 21, 238), rgb(63, 117, 242), rgb(58, 13, 146));
}
#navbar #app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
}
#navbar #app-title h1 {
  text-shadow: 5px 5px 0px 10px black;
  margin: 0;
}
#navbar #app-title h1 a {
  margin: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: color 0.3s, 0.3s;
}
#navbar #app-title h1 a:hover {
  color: rgb(136, 136, 136);
}
@media screen and (min-width: 800px) {
  #navbar #phone-menu {
    display: none;
  }
}
#navbar #desctop-menu {
  display: none;
}
@media screen and (min-width: 800px) {
  #navbar #desctop-menu {
    justify-content: center;
    align-items: center;
    width: 30rem;
    display: flex;
  }
}
#navbar #desctop-menu .page-link-bg {
  display: flex;
  align-items: center;
  height: 4rem;
  background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
  background-repeat: no-repeat;
  transition: background-size 0.3s, 0.3s;
  background-size: 100% 0%;
  background-position: 50% 50%;
}
#navbar #desctop-menu .page-link-bg:hover {
  background-size: 100% 100%;
}
#navbar #desctop-menu .page-link-bg:hover a {
  color: black;
}
#navbar #desctop-menu .page-link-bg a {
  margin: 1rem;
  color: white;
  text-decoration: none;
}
#navbar #desctop-menu span {
  color: white;
}
@media screen and (min-width: 800px) {
  #navbar #user-menu {
    display: none;
  }
}
#navbar #user-buttons {
  display: none;
}
@media screen and (min-width: 800px) {
  #navbar #user-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 8rem;
  }
  #navbar #user-buttons a {
    width: 5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  #navbar #user-buttons #login-container {
    display: flex;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(rgb(13, 212, 13), rgb(13, 212, 13));
    background-repeat: no-repeat;
    transition: background-size 0.3s, 0.3s;
    background-size: 100% 0%;
    background-position: 50% 50%;
  }
  #navbar #user-buttons #login-container:hover {
    background-size: 100% 100%;
  }
  #navbar #user-buttons #login-container:hover a {
    color: black;
  }
  #navbar #user-buttons #register-container {
    display: flex;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
    background-repeat: no-repeat;
    transition: background-size 0.3s, 0.3s;
    background-size: 100% 0%;
    background-position: 50% 50%;
  }
  #navbar #user-buttons #register-container:hover {
    background-size: 100% 100%;
  }
  #navbar #user-buttons #register-container:hover a {
    color: black;
  }
  #navbar #user-buttons #logout-container {
    display: flex;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(rgb(232, 32, 32), rgb(232, 32, 32));
    background-repeat: no-repeat;
    transition: background-size 0.3s, 0.3s;
    background-size: 100% 0%;
    background-position: 50% 50%;
  }
  #navbar #user-buttons #logout-container:hover {
    background-size: 100% 100%;
  }
  #navbar #user-buttons #logout-container:hover a {
    color: black;
  }
  #navbar #user-buttons #settings-container {
    display: flex;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
    background-repeat: no-repeat;
    transition: background-size 0.3s, 0.3s;
    background-size: 100% 0%;
    background-position: 50% 50%;
  }
  #navbar #user-buttons #settings-container:hover {
    background-size: 100% 100%;
  }
  #navbar #user-buttons #settings-container:hover a {
    color: black;
  }
}/*# sourceMappingURL=navbar.component.css.map */