@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(100deg, rgb(130, 47, 197), rgb(81, 21, 238), rgb(63, 117, 242), rgb(58, 13, 146));


    #app-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;


        h1 {
            text-shadow: 5px 5px 0px 10px black;
            margin: 0;

            a {
                margin: 1rem;
                color: rgb(255, 255, 255);
                text-decoration: none;
                letter-spacing: 0.1rem;
                transition: color .3s, .3s;


                &:hover {
                    color: rgb(136, 136, 136);

                }
            }
        }
    }

    @include desktop {
        #phone-menu {
            display: none;
        }


    }

    #desctop-menu {
        display: none;

        @include desktop {
            justify-content: center;
            align-items: center;
            width: 30rem;
            display: flex;
        }

        .page-link-bg {
            display: flex;
            align-items: center;
            height: 4rem;
            background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
            background-repeat: no-repeat;
            transition: background-size .3s, .3s;
            background-size: 100% 0%;
            background-position: 50% 50%;

            &:hover {
                background-size: 100% 100%;


                a {
                    color: black;
                }
            }

            a {
                margin: 1rem;
                color: white;
                text-decoration: none;
            }
        }

        span {
            color: white;
        }
    }

    @include desktop {
        #user-menu {
            display: none;
        }
    }

    #user-buttons {
        display: none;

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25rem;
            height: 8rem;

            a {
                width: 5rem;
                text-align: center;
                text-decoration: none;
                color: white;
                cursor: pointer;
            }

            #login-container {
                display: flex;
                align-items: center;
                height: 4rem;
                background-image: linear-gradient(rgb(13, 212, 13), rgb(13, 212, 13));
                background-repeat: no-repeat;
                transition: background-size .3s, .3s;
                background-size: 100% 0%;
                background-position: 50% 50%;

                &:hover {
                    background-size: 100% 100%;

                    a {
                        color: black;
                    }
                }
            }

            #register-container {
                display: flex;
                align-items: center;
                height: 4rem;
                background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
                background-repeat: no-repeat;
                transition: background-size .3s, .3s;
                background-size: 100% 0%;
                background-position: 50% 50%;

                &:hover {
                    background-size: 100% 100%;

                    a {
                        color: black;
                    }
                }
            }

            #logout-container {
                display: flex;
                align-items: center;
                height: 4rem;
                background-image: linear-gradient(rgb(232, 32, 32), rgb(232, 32, 32));
                background-repeat: no-repeat;
                transition: background-size .3s, .3s;
                background-size: 100% 0%;
                background-position: 50% 50%;

                &:hover {
                    background-size: 100% 100%;

                    a {
                        color: black;
                    }
                }
            }

            #settings-container {
                display: flex;
                align-items: center;
                height: 4rem;
                background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
                background-repeat: no-repeat;
                transition: background-size .3s, .3s;
                background-size: 100% 0%;
                background-position: 50% 50%;

                &:hover {
                    background-size: 100% 100%;

                    a {
                        color: black;
                    }
                }
            }
        }
    }
}