<div id="navbar">
    <div id="app-title">
        <h1><a routerLink="/" routerLinkActive="active">PlatePal</a></h1>
    </div>
    <nav id="pages">
        <div class="page-link-bg">
            <a routerLink="/" routerLinkActive="active">Home </a>
        </div>
        <span>|</span>
        <div class="page-link-bg">
            <a routerLink="/search-recipe/1" routerLinkActive="active">Search recipes</a>
        </div>
        <span>|</span>
        <div class="page-link-bg">
            <a routerLink="/lists/1" routerLinkActive="active">My lists</a>
        </div>
        <span>|</span>
        <div class="page-link-bg">
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>

    </nav>
    <div id="user-buttons">
        <!-- if statment -->
        <button type="button" id="login">Login</button>
        <button type="button" id="register">Register</button>
        <button type="button" id="logout">Logout</button>
    </div>
</div>