<div id="navbar">
    <div id="app-title">
        <h2><a routerLink="/" routerLinkActive="active">PlatePal</a></h2>
    </div>
    <nav id="pages">
        <a routerLink="/" routerLinkActive="active">Home </a><span>|</span>
        <a routerLink="/" routerLinkActive="active">Search recipes</a><span>|</span>
        <a routerLink="/" routerLinkActive="active">My lists</a><span>|</span>
        <a routerLink="/" routerLinkActive="active">About</a>
    </nav>
    <div id="user-buttons">
        <button type="button" id="login">Login</button>
        <button type="button" id="register">Register</button>
        <button type="button" id="logout">Logout</button>
    </div>
</div>