#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(100deg, rgb(130, 47, 197), rgb(81, 21, 238), rgb(63, 117, 242), rgb(58, 13, 146));

    #app-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;


        h1 {
            text-shadow: 5px 5px 0px 10px black;

            a {
                margin: 1rem;
                color: rgb(255, 255, 255);
                text-decoration: none;
                letter-spacing: 0.1rem;
                text-shadow: 0px 2px 5px black;
                transition: color .3s, .3s;

                &:hover {
                    color: rgb(140, 233, 249);

                }
            }
        }
    }

    #pages {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;

        .page-link-bg {
            display: flex;
            align-items: center;
            height: 4rem;
            background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
            background-repeat: no-repeat;
            transition: background-size .3s, .3s;
            background-size: 100% 0%;
            background-position: 50% 50%;

            &:hover {
                background-size: 100% 100%;


                a {
                    color: black;
                }
            }

            a {
                margin: 1rem;
                color: white;
                text-decoration: none;
            }
        }

        span {
            color: white;
        }
    }

    #user-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;

        button {
            width: 5rem;
            padding: 0.3rem 1rem 0.3rem 1rem;
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, 0);
            color: white;
            border: none;
            background-repeat: no-repeat;
            transition: background-size .3s, .3s;
            background-size: 0% 110%;
            background-position: 0% 50%;

            &:hover {
                background-size: 100% 100%;
                color: black;
                border: none;
            }
        }

        #login {
            background-image: linear-gradient(rgb(13, 212, 13), rgb(13, 212, 13));
        }

        #register {
            background-image: linear-gradient(rgb(32, 202, 232), rgb(32, 202, 232));
        }

        #logout {
            background-image: linear-gradient(rgb(232, 32, 32), rgb(232, 32, 32));
        }
    }
}