<section id="lists">

    <div id="crud-favourites-section">

        <!-- Crud for lists -->

        <div id="crud">
            <div id="create-list">
                <h2>Create new list</h2>
                <div id="create-list-form">
                    <label for="list-input">List name: </label>
                    <input type="text" name="list-input" id="list-input" placeholder="Add list title"
                        [(ngModel)]="title">
                    <button id="create-list-button" (click)="createList()">Create list</button>
                </div>
            </div>
            <div id="edit-list">
                <h2>Edit list</h2>
                <div id="edit-list-form">
                    <label id="lists-dropdown-label" for="lists-dropdown">Choose a list:</label>
                    <select name="lists-dropdown" id="list-select-dropdown" [(ngModel)]="selectedListId"
                        (change)="onListSelect()">
                        <!-- for loop of lists -->
                        <option class="list-title-option">Choose a list</option>
                        <option class="list-title-option" *ngFor="let list of lists" [value]="list.id">
                            {{list.id}} {{list.title}}
                        </option>

                    </select>
                    <label id="list-input-label" for="list-input">New list name: </label>
                    <input type="text" name="list-input" id="edit-list-input" placeholder="(listname)"
                        [(ngModel)]="newListTitle">
                    <button id="edit-list-button" (click)="updateList(selectedListId, newListTitle)">Done</button>
                </div>
            </div>
        </div>

        <!-- Favourite recipes list -->
        <div class="progress-container">
            <p *ngIf="loadData">Please wait while we're loading your lists..</p>
            <mat-spinner class="progress-spinner" id="data" [diameter]="50" *ngIf="loadData"></mat-spinner>
            <p *ngIf="loadCreateList">Please wait while we're creating your list..</p>
            <mat-spinner class="progress-spinner" id="create" [diameter]="50" *ngIf="loadCreateList"></mat-spinner>
            <p *ngIf="loadCreateList">Please wait while we're updating your list..</p>
            <mat-spinner class="progress-spinner" id="create" [diameter]="50" *ngIf="loadEditList"></mat-spinner>
        </div>

        <div id="favourite-recipes">
            <h2>{{ favouriteList }}</h2>
            <div *ngIf="favRecipeShow">
                <app-recipe-card *ngFor="let recipe of oneRecipe" [recipe]="recipe"></app-recipe-card>
            </div>
        </div>
    </div>

    <!-- Lists -->

    <div id="lists-section">
        <div id="list-container">
            <h1>Lists</h1>
            <div class="list-card" *ngFor="let list of lists">
                <div class="list-title-div">
                    <a [routerLink]="'list-details/'+ listId" routerLinkActive="active">{{list.title}}</a>
                </div>
                <div class="list-info-delete-div">
                    <div class="list-info-div">
                        <p>10 recipes</p><span>|</span>
                        <p>Created: </p>
                    </div>
                    <div class="delete-list-form">
                        <button class="delete-list-button" type="submit">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>