<div class="login-card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" [(ngModel)]="me.email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="me.password"
                    name="password">
            </div>
            <div class="submit-button">
                <button type="submit" (click)="login()" id="login-button">Login</button>
            </div>
        </form>
    </div>
</div>