<section>
    <div id="search-form">
        <form action="post">
            <label for="">What are you looking for?</label>
            <input type="text">
            <button type="submit">Search</button>
            <label class="filter">
                <input type="checkbox" value="0">
                <span>Chicken</span>
            </label>
        </form>
    </div>
    <h2>"Searchword"</h2>
    <div id="categories">
        <!-- forloop -->
        <p>"categories"</p><span>|</span>
        <!-- end forloop -->
    </div>

    <div class="recipe-cards">
        <app-recipe-card></app-recipe-card>
    </div>
</section>