<section>
    <div id="search-form">
        <form action="post">
            <label for="">Search recipes</label>
            <input type="text">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="recipe-cards">
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>

        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>

        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
    </div>
</section>