.card {
    border: 1px solid black;
    width: 10rem;

    img {
        max-width: 10rem;
    }

    .recipe-info {
        display: flex;
        flex-direction: row;

    }

    .recipe-description {
        display: flex;
    }
}