#home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 46.5rem;
  background-image: linear-gradient(145deg, purple, orange);
  /* icons left */
  /* Middle content */
  /* Icons right */
}
#home #top-left {
  display: none;
}
@media screen and (min-width: 800px) {
  #home #top-left {
    display: flex;
    justify-content: center;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #home #top-left #hamburger {
    font-size: 12rem;
    transform: rotate(-35deg);
  }
}
#home #middle-left {
  display: none;
}
@media screen and (min-width: 800px) {
  #home #middle-left {
    display: flex;
    justify-content: flex-end;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #home #middle-left #drink {
    font-size: 5rem;
    transform: rotate(35deg);
  }
}
#home #bottom-left {
  display: none;
}
@media screen and (min-width: 800px) {
  #home #bottom-left {
    display: flex;
    justify-content: flex-start;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #home #bottom-left #pizza {
    font-size: 7rem;
    transform: rotate(150deg);
  }
}
#home #main-content {
  display: flex;
  flex-direction: column;
}
#home #main-content #top-center {
  display: flex;
  justify-content: flex-start;
  align-self: flex-end;
  width: 20rem;
}
#home #main-content #top-center #fruit {
  font-size: 5rem;
  transform: rotate(35deg);
}
#home #main-content #hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
#home #main-content #hero h1 {
  margin: 1rem;
  font-size: 4rem;
  color: white;
  text-shadow: 0px 2px 5px black;
  /* Gradient text */
  /* background-color: red;
  background-image: linear-gradient(100deg, rgb(130, 47, 197), rgb(81, 21, 238), rgb(63, 117, 242), rgb(58, 13, 146));
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}
#home #main-content #hero h3 {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-shadow: 0px 2px 5px black;
}
#home #main-content #search-container #search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#home #main-content #search-container #search-form label {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0.5rem;
  text-shadow: 0px 2px 5px black;
}
#home #main-content #search-container #search-form input {
  margin: 0.5rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.361);
  border: none;
  border-radius: 1rem;
  height: 1.5rem;
  width: 15rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
#home #main-content #search-container #search-form button {
  margin: 0.5rem;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0.3rem 1rem;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.361);
  background-color: rgb(13, 212, 13);
  cursor: pointer;
}
#home #main-content #search-container #search-form button:hover {
  background-color: rgb(7, 172, 7);
}
#home #main-content #bottom-center {
  display: flex;
  justify-content: center;
  width: 20rem;
  margin-top: 2rem;
}
@media screen and (min-width: 800px) {
  #home #main-content #bottom-center {
    width: 30rem;
  }
}
#home #main-content #bottom-center #egg {
  font-size: 7rem;
}
#home #top-right {
  display: none;
}
@media screen and (min-width: 800px) {
  #home #top-right {
    display: flex;
    justify-content: flex-start;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #home #top-right #bakery {
    font-size: 8rem;
    transform: rotate(35deg);
  }
}
#home #middle-right {
  display: none;
}
@media screen and (min-width: 800px) {
  #home #middle-right {
    display: flex;
    justify-content: flex-end;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #home #middle-right #icecream {
    font-size: 5rem;
    transform: rotate(-35deg);
  }
}
#home #bottom-right {
  display: none;
}
@media screen and (min-width: 800px) {
  #home #bottom-right {
    display: flex;
    justify-content: center;
    width: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  #home #bottom-right #dining {
    font-size: 11rem;
    transform: rotate(-15deg);
  }
}/*# sourceMappingURL=home.component.css.map */