@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

.cards-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        box-shadow: 0px 2px 4px rgb(193, 192, 192);
        border-radius: 0.3rem;
        width: 8rem;
        margin: 1rem;

        @include desktop {
            width: 10rem;

        }

        &:hover {
            background-color: rgb(243, 243, 243);
            box-shadow: 0px 4px 8px rgb(109, 108, 108);
        }

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            color: black;
            text-decoration: none;

            img {
                max-width: 8rem;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;

                @include desktop {
                    max-width: 10rem;
                }

                &:hover {
                    opacity: 0.7;
                }
            }

            h3 {
                font-weight: 500;
                margin: 0 0 0 0;
                font-size: 0.8rem;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 7rem;

                @include desktop {
                    font-size: 1rem;
                    width: 9rem;
                }

                &:hover {
                    color: rgb(110, 110, 110);
                }

            }
        }

        .recipe-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .card-icons {
                height: 1.2rem;
                font-size: 1.3rem;
                text-align: center;

                @include desktop {
                    height: 1.2rem;
                    font-size: 1.3rem;
                    text-align: center;
                }
            }

            p {
                margin: 0;
                font-size: 0.8rem;

                @include desktop {
                    font-size: 1rem;
                }
            }

            span {
                margin: 0.2rem;
            }

            form {
                .favourite-recipe {
                    display: flex;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    margin: 0;
                    padding: 0rem;
                    border-radius: 50%;

                    @include desktop {
                        padding: 0.2rem;
                    }

                    &:hover {

                        background-color: rgb(255, 162, 162);

                    }

                    &:active {
                        background-color: rgb(231, 147, 147);
                    }

                    .heart {
                        align-self: center;


                        /* &:hover {
                            color: rgb(255, 121, 121);
                            background-color: rgb(255, 162, 162);

                        } */
                    }
                }
            }

        }

        .recipe-description {
            display: flex;
            justify-content: center;

            ul {
                height: 6.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.6rem;
                margin: 0 0.4rem 0.4rem 0.4rem;
                padding: 0.3rem;


                li {
                    margin: 0.4rem;
                    padding: 0;
                    width: 6.5rem;
                    line-height: 0.9rem;
                }
            }
        }

    }
}