<section id="home">
    <div class="icons">
        <div id="top-left">
            <span id="hamburger" class="material-symbols-outlined">
                lunch_dining
            </span>
        </div>
        <div id="middle-left">
            <span id="drink" class="material-symbols-outlined">
                local_bar
            </span>
        </div>
        <div id="bottom-left">
            <span id="pizza" class="material-symbols-outlined">
                local_pizza
            </span>
        </div>
    </div>
    <div id="main-content">
        <div id="top-center">
            <span id="fruit" class="material-symbols-outlined">
                nutrition
            </span>
        </div>
        <div id="hero">
            <h1>PlatePal</h1>
            <h3>Your best friend that helps you <br> find the best recipes for every meal!</h3>
        </div>
        <div id="search-container">
            <div id="search-form">
                <label for="searchRecipe">What are you craving today?</label>
                <input type="text" id="searchbox" name="searchRecipe" [(ngModel)]="homeSearch">
                <button type="button" [routerLink]="'search-recipe/'+ homeSearch" routerLinkActive="active">Find
                    recipe!</button>
            </div>
        </div>
        <div id="bottom-center">
            <span id="egg" class="material-symbols-outlined">
                egg_alt
            </span>
        </div>
    </div>
    <div class="icons">
        <div id="top-right">
            <span id="bakery" class="material-symbols-outlined">
                bakery_dining
            </span>
        </div>
        <div id="middle-right">
            <span id="icecream" class="material-symbols-outlined">
                icecream
            </span>
        </div>
        <div id="bottom-right">
            <span id="dining" class="material-symbols-outlined">
                local_dining
            </span>
        </div>
    </div>
</section>