<div class="register-card">
    <mat-spinner class="progress-spinner" [diameter]="50" *ngIf="loadRegister"></mat-spinner>
    <div class="card-body">
        <h5 class="card-title">Register</h5>
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" class="form-control" id="Name" placeholder="Name" [(ngModel)]="newUser.name"
                        name="namE">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email"
                    [(ngModel)]="newUser.email" name="email">
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                        [(ngModel)]="newUser.password" name="password">
                </div>
                <div class="form-group">
                    <label for="password_confirmation">Confirm password</label>
                    <input type="password" class="form-control" id="password_confirmation"
                        placeholder="Confirm password" [(ngModel)]="newUser.password_confirmation"
                        name="password_confirmation">
                </div>
            </div>
            <div class="submit-button">
                <button type="submit" (click)="register()" id="register-button">Register</button>
            </div>
        </form>
    </div>
</div>